<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="refreshHub($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="flex-between py-2 text-muted">
    <span>{{hub.mac_address}}</span>
    <span *ngIf="hub.seconds_till_refresh !== null" >
      <span>{{hub.seconds_till_refresh}}</span>
      <span class="dot-glow dot-glow-success mx-2" ></span>
    </span>
  </div>

  <div *ngIf="!hub.mac_address" class="flex-center text-muted h-100 font-size-125" >
    <div>
      <span>HUB Disconnected</span>
      <span><i class="fa-solid fa-link-slash mx-2"></i></span>
    </div>
  </div>

  <div *ngIf="hub.nodes.length" >

    <div class="card" *ngFor="let node of hub.nodes" >

      <div class="flex-between" >
        <span >{{ node.mac }}</span>
        <span class="mx-2" > <i class="fa-solid fa-ellipsis-vertical"></i> </span>
      </div>

      <div class="flex-between my-2 mx--2 data-selected-sensor-{{trend_charts[node.mac]}}" >

        <div class="node-sensor node-sensor-temperature" (click)="sensorTrendChart('temperature', node.mac)" >
          <i class="fa-solid fa-temperature-low me-2"></i>
          <span>{{node.temperature}}°C</span>
        </div>
        <div class="node-sensor node-sensor-humidity" (click)="sensorTrendChart('humidity', node.mac)" >
          <i class="fa-solid fa-droplet me-2"></i>
          <span>{{node.humidity}}%</span>
        </div>
        <div class="node-sensor node-sensor-co2" (click)="sensorTrendChart('co2', node.mac)" >
          <i class="fa-solid fa-wind me-2"></i>
          <span>{{node.CO2}} ppm</span>
        </div>
        <div class="node-sensor node-sensor-light" (click)="sensorTrendChart('light', node.mac)" >
          <i class="fa-solid fa-lightbulb me-2"></i>
          <span>{{node.light}} lux</span>
        </div>

      </div>

      <div class="node-chart mx--2 transition overflow-hidden" style="height: {{charts.charts[node.mac] ? 100 : 0}}px" >
        <canvas id="node-chart-{{node.mac}}"></canvas>
      </div>

    </div>

  </div>

</ion-content>
